{% load wagtailroutablepage_tags wagtailcore_tags %}

  <div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#collapseTwo">
        <h5>Locations</h5>
      </a>
    </div>
    <div id="collapseTwo" class="collapse">
      <div class="card-body">
        <div class="row">
      <div class="col-lg-12">
        <ul class="list-unstyled mb-0">
          {% for location in locations %}
            <li>
              <a href="{% routablepageurl painting_index_page 'post_by_location' location.slug %}"
                class= "link-primary text-decoration-none">{{ location.name }}
              </a>
            </li>
          {% empty %}
            'No locations yet'
          {% endfor %}
        </ul>
      </div>
    </div>
      </div>
    </div>
  </div>


