{% extends "base.html" %}
{% load wagtailimages_tags wagtailroutablepage_tags catalogapp_tags static %}
{% load wagtailcore_tags %}

{% block content %}

<style>

</style>
{% include 'menus/sidebar.html' %}
<div class="container">
    <!--       <div class="container mb-sm-5 mt-sm-5">-->
    <div class="page-titles">
    <h1>{{ self.title }}</h1>
    <h3>{{ self.subtitle|richtext }}</h3>
    </div>


    <div class="col-12">

        <div class="card-columns">
            {% for painting in posts %}
            

                <div class="card">
                    <a href="{% pageurl painting %}">
                    {% if painting.image %}
            {% image painting.image width-350 class="img-front rounded card-img-top"%}
            
            {% else %}
            <img alt="" src="{% static 'images/transparent.png' %}" width="350" class="img-default rounded">
            {% endif %}

                <div class="card-img-overlay text-center">

                        <h5 class="card-title outline-text">{{ painting.title }}</h5>
                            <p><i class="card-icon fa fa-search fa-3x"></i></p>
                    </div>
                    </a>
                </div>


            {% endfor %}

    </div>
</div>
{% endblock %}

