{% extends "base.html" %}
{% load wagtailimages_tags wagtailroutablepage_tags wagtailcore_tags %}

{% block content %}

<style>

.card {
  border-radius: 50%;
}

</style>
<div class="container">

<div class="container">
    <!--       <div class="container mb-sm-5 mt-sm-5">-->
    <div class="page-titles">
    <h1>{{ self.title }}</h1>
    <h3>{{ self.subtitle|richtext }}</h3>
    </div>
    
    <div class="row justify-content-center">
        <div class="card-columns center">
        {% for painter in posts %}
            <div class="card" style="width: 15rem;">
            {% image painter.painter_image fill-200x200 as img %}


                    <img src="{{ img.url }}" alt="{{ img.alt }}" class="painter-img-fluid w-100 rounded-circle"/>

                    <div class="card-img-overlay text-center">
                        <div class="card-title outline-text">{{ painter.title }}</div>
                            <a href="{% pageurl painter %}">
                                <i class='card-icon fas fa-expand fa-3x'></i>
                                </a>


                    </div>

</div>
            {% endfor %}

        </div>

    </div>
</div>
{% endblock %}
