{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}


<style>
.container-contact{
    text: secondary;
}
</style>


<section>
    <!--       <div class="container mb-sm-5 mt-sm-5">-->
    <!-- the id="about" is kept just to check if that matters>-->
    <div class="page-titles id="about"">
    <h1>{{ self.title }}</h1>
    <h3>{{ self.subtitle|richtext }}</h3>
    </div>

    <!-- About Section Content-->
    <div class="lead text-white px-5 py-3">
     <h2 class="text-center text-white">
         {{ self.mission_section_title|richtext }}
     </h2>
     <p>
        {{ self.our_mission|richtext }}
     </p>
    </div>

</section>

<!-- Contact Section Content-->


<div>
    <div class="container-contact px-5 py-3 text-muted">
        <h2 class="text-center">{{ page.contact_section_title|richtext }}</h2>
        <h6 class="page-section-heading text-center text-uppercase text-red">
            {{ self.contact_subtitle|richtext }}
        </h6>

        <form action="{% pageurl page %}" method="POST">
            {% csrf_token %}
            <ul class="contact-form">
                {{ form.as_ul }}
            </ul>

            <button type="submit" class="btn btn-dark">
                Submit Form
            </button>
        </form>
    </div>
</div>

{% endblock %}