{% extends "base.html" %}

{% load wagtailimages_tags wagtailroutablepage_tags wagtailcore_tags static %}


{% block content %}

<style>

</style>
<div class="container">
    <!--       <div class="container mb-sm-5 mt-sm-5">-->
    <div class="page-titles">
    <h1>{{ self.title }}</h1>
    <h3>{{ page.subtitle|richtext }}</h3>
    </div>


    <div class="col-12">

        <div class="card-columns">
            {% for e in expos %}
            
            <div class="card gallery">
            {% image e.main_image width-350 as img %}

                    <img src="{{ img.url }}" alt="{{ img.alt }}" class="img-front rounded card-img-top"/>
                
                    <div class="card-img-overlay text-center text-white">
                        <h4 class="card-title outline-text">{{e.title}}</h4>
                        <p class="text">{{e.subtitle|richtext}}</p>

                        <p>
                            <a href="{% pageurl e e.id %}"><i class="card-icon fa fa-search fa-3x"></i></a>
                        </p>
                    </div>
                
            </div>


            {% endfor %}



    </div>
</div>




{# Only show pagination if there is more than one page to click through #}
{% if expos.paginator.num_pages > 1 %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="pagination">
                {% if expos.has_previous %}
                <li class="page-item">
                    <a href="?page={{ expos.previous_page_number }}" class="page-link">
                        <span>&laquo;</span>
                    </a>
                </li>
                {% endif %}

                {% for page_num in expos.paginator.page_range %}
                <li class="page-item {% if page_num == expos.number %} active{% endif %}">
                    <a href="?page={{ page_num }}" class="page-link">
                        {{ page_num }}
                    </a>
                </li>
                {% endfor %}

                {% if expos.has_next %}
                <li class="page-item">
                    <a href="?page={{ expos.next_page_number }}" class="page-link">
                        <span>&raquo;</span>
                    </a>
                </li>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}
</div>

{% endblock %}